version: 2.1

defaults: &defaults
  docker:
    - image: circleci/ruby:2.5.3-node-browsers
      environment:
        FIREFOX_VERSION: 68.0.1
        GECKODRIVER_VERSION: 0.24.0
  working_directory: ~/axe-core-gems

commands:
  install-bundler: 
    description: Install bundler
    steps:
      - run: bash ./.circleci/install-bundler.sh
  install-geckodriver:
    description: Install Geckodriver
    steps:
      - run: bash ./.circleci/install-geckodriver.sh
  setup-packages:
    description: Bootstrap packages
    steps:
      - run: rake bootstrap

jobs:
  test: 
    <<: *defaults
    steps:
      - checkout
      - run: gem install bundler
      - install-geckodriver
      - setup-packages
      - run: rake test\[axe-core-api\]
      - run: rake test\[axe-core-selenium\]

workflows:
  version: 2
  build:
    jobs:
      - test