version: 2.1

defaults: &defaults
  docker:
    - image: circleci/ruby:2.6.1-node-browsers
  working_directory: ~/axe-core-gems

commands:
  bootstrap:
    description: Install dependencies and bootstrap packages
    steps:
      - checkout
      - run: gem install bundler # setup bundler
      - run:
          name: Update chromedriver
          command: |
            version=$(curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE")
            wget -qP /tmp/ "https://chromedriver.storage.googleapis.com/${version}/chromedriver_linux64.zip"
            sudo unzip -o /tmp/chromedriver_linux64.zip -d /usr/local/bin
            sudo chmod 755 /usr/local/bin/chromedriver
      - run:
          name: Install geckodriver
          command: |
            curl https://raw.githubusercontent.com/dequelabs/attest-release-scripts/develop/src/install-geckodriver.sh -s -o ./install-geckodriver.sh
            chmod +x ./install-geckodriver.sh
            ./install-geckodriver.sh 0.30.0
      - run: rake bootstrap # bootstrap packages

jobs:
  test: 
    <<: *defaults
    steps:
      - bootstrap
      # unit test - API
      - run: rake test_unit\[axe-core-api\]
      # unit test - webdrivers
      - run: rake test_unit\[axe-core-selenium\]
      - run: rake test_unit\[axe-core-watir\]
      - run: rake test_unit\[axe-core-capybara\]
      # unit test - framework integrations
      - run: rake test_unit\[axe-core-cucumber\]
      - run: rake test_unit\[axe-core-rspec\]
      # e2e test - rspec -> capybara
      - run: |
          cd packages/axe-core-rspec && cd e2e/capybara
          bundle install && bundle exec rspec
      # e2e test - cucumber -> capybara
      - run: |
          cd packages/axe-core-cucumber && cd e2e/capybara
          bundle install && bundle exec cucumber
      # e2e test - cucumber -> watir
      - run: |
          cd packages/axe-core-cucumber && cd e2e/watir
          bundle install && bundle exec cucumber
      # e2e test - selenium, axe 4.3.x
      - run: |
          npm i
          cd node_modules/axe-test-fixtures/fixtures && python3 -m http.server &
          sleep 1 # Just wait a bit for the http server to startup
          cd packages/axe-core-api/e2e/selenium
          bundle install && bundle exec rspec

  canary_release:
    <<: *defaults
    steps:
      - bootstrap
      - run: bash .circleci/publish.sh pre.$(git rev-parse --short HEAD)

  production_release:
    <<: *defaults
    steps:
      - bootstrap
      - run: bash .circleci/publish.sh

  github_release:
    docker:
      - image: cimg/go:1.13
    steps:
      - checkout
      - run: go get gopkg.in/aktau/github-release.v0
      - run:
          name: Download and run GitHub release script
          command: |
            curl https://raw.githubusercontent.com/dequelabs/attest-release-scripts/develop/src/ruby-github-release.sh -s -o ./ruby-github-release.sh
            chmod +x ./ruby-github-release.sh
            ./ruby-github-release.sh

workflows:
  version: 2
  build:
    jobs:
      - test
      - canary_release:
          requires:
            - test
          filters:
            branches:
              only:
                - develop
      - production_release:
          requires:
            - test
          filters:
            branches:
              only: master
      - github_release:
          requires:
            - production_release
          filters:
            branches:
              only: master
