name: Sync master/develop branches

on:
  push:
    branches:
      - master

jobs:
  create_sync_pull_request:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: dequelabs/action-sync-branches@v1.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-title: "chore: merge master into develop"
          pr-team-reviewers: axe-api-team
          pr-labels: chore
          pr-template: .github/PULL_REQUEST_TEMPLATE.md